{% extends "base.html" %}

{% block content %}
<section class="mt-lg">
  <h3>PI3 - PODACI</h3>

  <div class="grid grid-2 mt-lg">
    <div class="card">
      <h4>Panel 21</h4>
      <div class="iframe-wrapper">
        <iframe
          src="http://localhost:3000/d-solo/smart-home/smart-home?orgId=1&from=now-30m&to=now&timezone=browser&var-DS_INFLUXDB=ffc7lwmuo38xsf&var-bucket=iot_sensors&var-pi_id=PI3&refresh=5s&panelId=panel-21&__feature.dashboardSceneSolo=true"
          width="100%"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
    </div>

    <div class="card">
      <h4>Panel 22</h4>
      <div class="iframe-wrapper">
        <iframe
          src="http://localhost:3000/d-solo/smart-home/smart-home?orgId=1&from=now-30m&to=now&timezone=browser&var-DS_INFLUXDB=ffc7lwmuo38xsf&var-bucket=iot_sensors&var-pi_id=PI3&refresh=5s&panelId=panel-22&__feature.dashboardSceneSolo=true"
          width="100%"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
    </div>

    <div class="card">
      <h4>Panel 23</h4>
      <div class="iframe-wrapper">
        <iframe
          src="http://localhost:3000/d-solo/smart-home/smart-home?orgId=1&from=now-30m&to=now&timezone=browser&var-DS_INFLUXDB=ffc7lwmuo38xsf&var-bucket=iot_sensors&var-pi_id=PI3&refresh=5s&panelId=panel-23&__feature.dashboardSceneSolo=true"
          width="100%"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
    </div>

    <div class="card">
      <h4>Panel 24</h4>
      <div class="iframe-wrapper">
        <iframe
          src="http://localhost:3000/d-solo/smart-home/smart-home?orgId=1&from=now-30m&to=now&timezone=browser&var-DS_INFLUXDB=ffc7lwmuo38xsf&var-bucket=iot_sensors&var-pi_id=PI3&refresh=5s&panelId=panel-24&__feature.dashboardSceneSolo=true"
          width="100%"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
    </div>

    <div class="card">
      <h4>Panel 26</h4>
      <div class="iframe-wrapper">
        <iframe
          src="http://localhost:3000/d-solo/smart-home/smart-home?orgId=1&from=now-30m&to=now&timezone=browser&var-DS_INFLUXDB=ffc7lwmuo38xsf&var-bucket=iot_sensors&var-pi_id=PI3&refresh=5s&panelId=panel-27&__feature.dashboardSceneSolo=true"
          width="100%"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
    </div>

    <div class="card">
      <h4>Panel 27</h4>
      <div class="iframe-wrapper">
        <iframe
          src="http://localhost:3000/d-solo/smart-home/smart-home?orgId=1&from=1772137308617&to=1772138208617&timezone=browser&var-DS_INFLUXDB=ffc7lwmuo38xsf&var-bucket=iot_sensors&var-pi_id=PI1&refresh=5s&showCategory=Standard%20options&panelId=panel-28&__feature.dashboardSceneSolo=true"
          width="100%"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
    </div>

    <div class="card">
      <h4>RGB LED</h4>
      <div class="iframe-wrapper">
        <iframe
          src="http://localhost:3000/d-solo/smart-home/smart-home?orgId=1&from=1772137680030&to=1772138580030&timezone=browser&var-DS_INFLUXDB=ffc7lwmuo38xsf&var-bucket=iot_sensors&var-pi_id=PI1&refresh=5s&showCategory=Standard%20options&panelId=panel-25&__feature.dashboardSceneSolo=true"
          width="100%"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
    </div>

    <div class="card">
      <h4>Panel 25</h4>
      <div class="iframe-wrapper">
        <iframe
          src="http://localhost:3000/d-solo/smart-home/smart-home?orgId=1&from=1772137243739&to=1772138143739&timezone=browser&var-DS_INFLUXDB=ffc7lwmuo38xsf&var-bucket=iot_sensors&var-pi_id=PI1&refresh=5s&showCategory=Standard%20options&panelId=panel-26&__feature.dashboardSceneSolo=true"
          width="100%"
          height="200"
          frameborder="0"
        ></iframe>
      </div>
      <div id="lcd_message_status" class="form-message"></div>
    </div>
  </div>
</section>


<script src="{{ url_for('static', filename='js/PI3.js') }}"></script>
{% endblock %}
